@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chivo+Mono:wght@100&family=Courgette&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;1,9..40,100;1,9..40,200&family=Inconsolata:wght@200;300;400&family=Mukta:wght@200&family=Saira+Extra+Condensed:wght@100;200;300;400&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,100&family=Open+Sans:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
}

html, body{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  /* background-color: black; */
  /* color: white; */
}
.main{
  /* background-color: black; */
}
.link-area {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 15px;
  border-radius: 40px;
  background: tomato;
}

.link-area a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.gg_logo{
  height: 150px;
  object-fit: contain;
}

.navigator{
  /* background-color: rgba(0, 0, 0, 0); */
  z-index: 9;
}

.col-md-1{
  height: 100px;
  background-color: green;
  margin: 1rem;
}

.video-container{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -99;
  font-family: 'Teko', sans-serif;
}

.video-container video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.shader{
  width:100%;
  height: 100%;
  background-color: rgba(31, 31, 31, 0.697);
  position: absolute;
}

.navItems{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.title-1{
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  font-size: 150px;
}

.sub-title{
  color: white;
  font-size: 40px;
  line-height:-20rem;
  letter-spacing: .5rem;
  position: absolute;
  top: 75%;
  left: 11%;
}

.about-event{
  width: 100%;
  height: 90vh;
}

.about-container{
  width: 100vw;
  height: 90%;
  margin: 1rem;
}

.about-section-title{
  /* width: 100%; */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.about-holder{
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  /* border-radius: 20px; */
}
.location{
  /* background: linear-gradient(white, #49829f) */
}
.dis{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  /* font-size: 20px; */
  font-weight: 500;
}

.happening-holder{
  width: 100vw;
}


.card-body-title{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}

.card-container {
  display: grid;
  perspective: 700px;
  /* border-radius: 10%;
  overflow: hidden; */
  border-radius: 5%;
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
  background-color: beige;
  border-radius: 5%;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 5%;
}

.front {
  grid-area: frontAndBack;
  background-color: white;
  border-radius: 5%;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
  background-color: white;
  border-radius: 5%;
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

.img-container {
  width: 100%;
  height: 300px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.counter {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 1.5%;
  font-size: 50px;
  background-color: #f4f4f4;
  color: #49829f;
  width: 150px;
  border-radius: 50%;
  height: 150px;
  vertical-align: middle;
  font-family: "Josefin Sans";
}

.counter-holder{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/*
*
* ==========================================
      progress bar
* ==========================================
*
*/

.progress-container {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

.progress-container::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-container>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress-container .progress-left {
  left: 0;
}

.progress-container .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress-container .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress-container .progress-right {
  right: 0;
}

.progress-container .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress-container .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.rounded-lg {
  border-radius: 1rem;
}

.text-gray {
  color: #aaa;
}

div.h4 {
  line-height: 1rem;
}

.sponsers-holder{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsers-holder img{
  width: 100px;
}

.speakers-holder{
  width: 80%;
  height: 300px;
  background-color: rgb(15, 86, 113);
  border-radius: 20px;
  /* padding: 1rem; */
  border: 1px solid rgb(101, 101, 101);
  overflow: hidden;
  margin: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.speakers-holder img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* linearGradient for texts  */
/* .text-bg{
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  background: -webkit-linear-gradient(-86deg, rgba(38, 224, 169, 1) 5%, rgba(183, 214, 89, 1) 53%, #09E5C3 91%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
  color: rgb(255, 255, 255);
  font-size: 6rem;
  line-height: 1.1;
  margin-left: -15px;
  padding: 5px 0;
} */

.text-color{
  color: #49829f;
  font-weight: 300;
}

.why-holder{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #49829f;
  border-radius: 20px;
  color: #ffffff;
  
}